<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sinta-se em casa!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos id, nam voluptate ullam sed est culpa voluptates repellendus, eos minus et harum quidem earum nostrum minima aut atque, exercitationem perferendis.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident iure modi ipsam, ad necessitatibus distinctio cupiditate exercitationem molestias accusamus repudiandae explicabo, facilis nesciunt velit! Aspernatur voluptatibus a culpa non. Obcaecati!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis mollitia laboriosam porro sequi asperiores ratione dicta, error possimus sed perspiciatis minus voluptates ullam cumque fuga, exercitationem veniam, impedit velit? Esse.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed"> Ver o feed </button>
        </div>
    </div>
