<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQGZYO-gC1UguQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=VSwJBkVN9hRdvg0kDgeGh87MrJLQZn_Ffb6Y0NsmEbY" alt="Imagem de capa do card">
    </div>
   
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Willians Carrion</h5>
      <p class="card-text text-center text-monospace">Will de humanas em transição de carreira para Desenvolvedor Fullstack Jr.</p>
     
      <a href="https://www.linkedin.com/in/willianscarrion/" class="btn btn-outine-info mb-3 d-flex justify-content-center border-primary" target="_blank">LinkedIn</a>
      <a href="https://github.com/WilliansCarrion" class="btn btn-outine-dark mb-3 d-flex justify-content-center border-dark" target="_blank">GitHub</a>

    </div>
  </div>
